# WordPress headless CMS (blog source). Leave unset to use the default.
# Default: https://cms.spiderenergy.in/wp-json/wp/v2
# WORDPRESS_API_URL=https://cms.spiderenergy.in/wp-json/wp/v2

# Set to "false" to force local markdown in content/blog/ (skip CMS)
# WORDPRESS_CMS_ENABLED=true
